body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.SetLogoImg {
  text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
}
.QuestionMainDiv {
  /* margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px; */
  /* display: flex !important; 
  justify-content: center !important; */
  margin: auto;
  height: 1500%;
  width: 50%;
  /* background-color: lightgray; */
}

.QuestionMcqsDiv {
  display: flex;
  justify-content: space-between;
}